[Unit]
Description=NodePing Agent
Documentation=file:/etc/nodeping-agent/README.md
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=nodeping-agent
Group=nodeping-agent
EnvironmentFile=/etc/nodeping-agent/nodeping-agent.env
ExecStart=/opt/nodeping-agent/nodeping-agent
Restart=always
RestartSec=5s
TimeoutStopSec=35s
KillSignal=SIGTERM
WorkingDirectory=/var/lib/nodeping-agent
StateDirectory=nodeping-agent
RuntimeDirectory=nodeping-agent

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/var/lib/nodeping-agent
CapabilityBoundingSet=CAP_NET_RAW
AmbientCapabilities=CAP_NET_RAW
LockPersonality=true

[Install]
WantedBy=multi-user.target
